docs/n8n-request-sign-flow.json
{"updatedAt":"2026-03-24T21:00:20.607Z","createdAt":"2026-03-22T08:28:45.351Z","id":"TbK1cLqiaXLTgEL6","name":"📨 Greta Krajinka — Request Signature","description":null,"active":true,"isArchived":false,"nodes":[{"id":"webhook-sign","name":"Webhook Sign","type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"krajinka-sign-hook","position":[240,300],"parameters":{"httpMethod":"POST","path":"krajinka-sign","responseMode":"onReceived","options":{}}},{"id":"is-request-sign","name":"Is Request Sign?","type":"n8n-nodes-base.switch","typeVersion":3,"position":[460,300],"parameters":{"mode":"rules","rules":{"values":[{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $json.body.type }}","rightValue":"request_sign","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"request_sign"}]},"options":{}}},{"id":"flatten-body","name":"Flatten Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,200],"parameters":{"jsCode":"const body = $input.first().json.body;\nconst podpisId = body.podpisId || '';\nconst chatId   = String(body.chatId || '');\nconst message  = String(body.message || '');\nreturn [{ json: { podpisId, chatId, message } }];"}},{"id":"build-tg-body","name":"Build TG Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,200],"parameters":{"jsCode":"// v4.11: žiadny polling — chatId + message sú priamo v payloade\nconst { podpisId, chatId, message } = $input.first().json;\nconst cbBase = 'sign_' + podpisId + '_';\nconst tgBody = JSON.stringify({\n  chat_id: chatId,\n  text: message,\n  parse_mode: 'HTML',\n  reply_markup: { inline_keyboard: [[\n    { text: '\\u2705 Potvrdzujem',     callback_data: cbBase + 'confirm' },\n    { text: '\\u274c Nes\\u00fahlasim', callback_data: cbBase + 'reject' }\n  ]] }\n});\nreturn [{ json: { podpisId, chatId, tgBody } }];"}},{"id":"send-tg-sign","name":"Send Telegram Sign","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,200],"parameters":{"method":"POST","url":"https://api.telegram.org/bot{{TELEGRAM_BOT_TOKEN}}/sendMessage","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ $json.tgBody }}","options":{"response":{"response":{"neverError":true}}}}},{"id":"extract-msg-id","name":"Extract Message ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,200],"parameters":{"jsCode":"const resp  = $input.first().json;\nif (!resp.ok) {\n  throw new Error('TG sendMessage failed: ' + (resp.description || JSON.stringify(resp)));\n}\nconst msgId = (resp.result && resp.result.message_id) ? resp.result.message_id : 0;\nconst prev  = $('Build TG Body').first().json;\nreturn [{ json: { podpisId: prev.podpisId, chatId: prev.chatId, messageId: msgId } }];"}},{"id":"queue-patch","name":"Queue PATCH","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1450,200],"parameters":{"operation":"executeQuery","query":"INSERT INTO api_queue (queue_type, operation, priority, url, method, body, source_workflow, source_entry_id)\nVALUES (\n    'memento_api',\n    'PATCH_PODPIS',\n    3,\n    'https://api.mementodatabase.com/v1/libraries/2fNM2Za4G/entries/' || '{{ $json.podpisId }}' || '?token={{MEMENTO_API_TOKEN}}',\n    'PATCH',\n    '{\"fields\": [{\"id\": 23, \"value\": \"' || '{{ $json.messageId }}' || '\"}, {\"id\": 24, \"value\": \"' || '{{ $json.chatId }}' || '\"}, {\"id\": 4, \"value\": \"Doručená\"}]}'::jsonb,\n    'Request Signature',\n    '{{ $json.podpisId }}'\n)\nRETURNING id;","options":{}},"credentials":{"postgres":{"id":"yilsy8XEISSO3u11","name":"PostgreSQL memento_mirror"}}},{"id":"queued-ok","name":"Queued OK","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1560,200],"parameters":{}}],"connections":{"Webhook Sign":{"main":[[{"node":"Is Request Sign?","type":"main","index":0}]]},"Is Request Sign?":{"main":[[{"node":"Flatten Body","type":"main","index":0}],[]]},"Flatten Body":{"main":[[{"node":"Build TG Body","type":"main","index":0}]]},"Build TG Body":{"main":[[{"node":"Send Telegram Sign","type":"main","index":0}]]},"Send Telegram Sign":{"main":[[{"node":"Extract Message ID","type":"main","index":0}]]},"Extract Message ID":{"main":[[{"node":"Queue PATCH","type":"main","index":0}]]},"Queue PATCH":{"main":[[{"node":"Queued OK","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"2be9e13f-c53f-4c0d-9743-fde9aded8730","activeVersionId":"2be9e13f-c53f-4c0d-9743-fde9aded8730","versionCounter":109,"triggerCount":1,"shared":[{"updatedAt":"2026-03-22T08:28:45.351Z","createdAt":"2026-03-22T08:28:45.351Z","role":"workflow:owner","workflowId":"TbK1cLqiaXLTgEL6","projectId":"iLQxzJpWAms0MWWZ","project":{"updatedAt":"2026-03-04T17:27:34.580Z","createdAt":"2026-01-11T14:50:50.482Z","id":"iLQxzJpWAms0MWWZ","name":"Rastislav Škubal <rasto.skubal@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"0ce0fe23-81fe-4429-80e2-c76c397c8615"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-24T21:00:20.611Z","createdAt":"2026-03-24T21:00:20.611Z","versionId":"2be9e13f-c53f-4c0d-9743-fde9aded8730","workflowId":"TbK1cLqiaXLTgEL6","nodes":[{"id":"webhook-sign","name":"Webhook Sign","type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"krajinka-sign-hook","position":[240,300],"parameters":{"httpMethod":"POST","path":"krajinka-sign","responseMode":"onReceived","options":{}}},{"id":"is-request-sign","name":"Is Request Sign?","type":"n8n-nodes-base.switch","typeVersion":3,"position":[460,300],"parameters":{"mode":"rules","rules":{"values":[{"conditions":{"options":{"caseSensitive":true},"conditions":[{"leftValue":"={{ $json.body.type }}","rightValue":"request_sign","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"request_sign"}]},"options":{}}},{"id":"flatten-body","name":"Flatten Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,200],"parameters":{"jsCode":"const body = $input.first().json.body;\nconst podpisId = body.podpisId || '';\nconst chatId   = String(body.chatId || '');\nconst message  = String(body.message || '');\nreturn [{ json: { podpisId, chatId, message } }];"}},{"id":"build-tg-body","name":"Build TG Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,200],"parameters":{"jsCode":"// v4.11: žiadny polling — chatId + message sú priamo v payloade\nconst { podpisId, chatId, message } = $input.first().json;\nconst cbBase = 'sign_' + podpisId + '_';\nconst tgBody = JSON.stringify({\n  chat_id: chatId,\n  text: message,\n  parse_mode: 'HTML',\n  reply_markup: { inline_keyboard: [[\n    { text: '\\u2705 Potvrdzujem',     callback_data: cbBase + 'confirm' },\n    { text: '\\u274c Nes\\u00fahlasim', callback_data: cbBase + 'reject' }\n  ]] }\n});\nreturn [{ json: { podpisId, chatId, tgBody } }];"}},{"id":"send-tg-sign","name":"Send Telegram Sign","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,200],"parameters":{"method":"POST","url":"https://api.telegram.org/bot{{TELEGRAM_BOT_TOKEN}}/sendMessage","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ $json.tgBody }}","options":{"response":{"response":{"neverError":true}}}}},{"id":"extract-msg-id","name":"Extract Message ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,200],"parameters":{"jsCode":"const resp  = $input.first().json;\nif (!resp.ok) {\n  throw new Error('TG sendMessage failed: ' + (resp.description || JSON.stringify(resp)));\n}\nconst msgId = (resp.result && resp.result.message_id) ? resp.result.message_id : 0;\nconst prev  = $('Build TG Body').first().json;\nreturn [{ json: { podpisId: prev.podpisId, chatId: prev.chatId, messageId: msgId } }];"}},{"id":"queue-patch","name":"Queue PATCH","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1450,200],"parameters":{"operation":"executeQuery","query":"INSERT INTO api_queue (queue_type, operation, priority, url, method, body, source_workflow, source_entry_id)\nVALUES (\n    'memento_api',\n    'PATCH_PODPIS',\n    3,\n    'https://api.mementodatabase.com/v1/libraries/2fNM2Za4G/entries/' || '{{ $json.podpisId }}' || '?token={{MEMENTO_API_TOKEN}}',\n    'PATCH',\n    '{\"fields\": [{\"id\": 23, \"value\": \"' || '{{ $json.messageId }}' || '\"}, {\"id\": 24, \"value\": \"' || '{{ $json.chatId }}' || '\"}, {\"id\": 4, \"value\": \"Doručená\"}]}'::jsonb,\n    'Request Signature',\n    '{{ $json.podpisId }}'\n)\nRETURNING id;","options":{}},"credentials":{"postgres":{"id":"yilsy8XEISSO3u11","name":"PostgreSQL memento_mirror"}}},{"id":"queued-ok","name":"Queued OK","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1560,200],"parameters":{}}],"connections":{"Webhook Sign":{"main":[[{"node":"Is Request Sign?","type":"main","index":0}]]},"Is Request Sign?":{"main":[[{"node":"Flatten Body","type":"main","index":0}],[]]},"Flatten Body":{"main":[[{"node":"Build TG Body","type":"main","index":0}]]},"Build TG Body":{"main":[[{"node":"Send Telegram Sign","type":"main","index":0}]]},"Send Telegram Sign":{"main":[[{"node":"Extract Message ID","type":"main","index":0}]]},"Extract Message ID":{"main":[[{"node":"Queue PATCH","type":"main","index":0}]]},"Queue PATCH":{"main":[[{"node":"Queued OK","type":"main","index":0}]]}},"authors":"Rastislav Škubal","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-24T21:00:20.714Z","id":709,"workflowId":"TbK1cLqiaXLTgEL6","versionId":"2be9e13f-c53f-4c0d-9743-fde9aded8730","event":"deactivated","userId":"0ce0fe23-81fe-4429-80e2-c76c397c8615"},{"createdAt":"2026-03-24T21:00:20.764Z","id":710,"workflowId":"TbK1cLqiaXLTgEL6","versionId":"2be9e13f-c53f-4c0d-9743-fde9aded8730","event":"activated","userId":"0ce0fe23-81fe-4429-80e2-c76c397c8615"}]}}