docs/n8n-confirm-flow.json
{
  "name": "✅ Greta Krajinka — Signature Confirm Handler",
  "nodes": [
    {
      "id": "tg-trigger",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "krajinka-callback-hook",
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "krajinka-callback",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "flatten-update",
      "name": "Flatten Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "// Extract Telegram update from webhook body wrapper\nreturn [{ json: $input.first().json.body }];"
      }
    },
    {
      "id": "is-callback",
      "name": "Is Callback Query?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [680, 300],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {"caseSensitive": true},
                "conditions": [
                  {
                    "leftValue": "={{ !!$json.callback_query }}",
                    "rightValue": true,
                    "operator": {"type": "boolean", "operation": "equals"}
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "callback_query"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "parse-callback",
      "name": "Parse Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200],
      "parameters": {
        "jsCode": "const update = $input.first().json;\nconst query = update.callback_query;\nconst data = query.data || '';\n\n// Expected format: \"sign_{podpisId}_confirm\" or \"sign_{podpisId}_reject\"\nif (!data.startsWith('sign_')) {\n  return [{ json: { skip: true, data } }];\n}\n\n// action is the last segment, podpisId is everything between \"sign_\" and last \"_\"\nconst lastIdx = data.lastIndexOf('_');\nconst action = data.substring(lastIdx + 1);       // 'confirm' or 'reject'\nconst podpisId = data.substring(5, lastIdx);      // after 'sign_', before last '_'\n\nif ((action !== 'confirm' && action !== 'reject') || !podpisId) {\n  return [{ json: { skip: true, data } }];\n}\n\nconst confirmed = action === 'confirm';\nconst callbackQueryId = query.id;\nconst chatId = String(query.message.chat.id);\nconst messageId = query.message.message_id;\nconst originalText = query.message.text || '';\nconst fromFirst = query.from.first_name || '';\nconst fromLast = query.from.last_name || '';\nconst fromName = (fromFirst + ' ' + fromLast).trim();\nconst confirmText = confirmed\n  ? String.fromCharCode(10004) + ' Potvrdené'\n  : String.fromCharCode(10060) + ' Odmietnuté';\n\nreturn [{ json: { action, podpisId, confirmed, callbackQueryId, chatId, messageId, originalText, fromName, confirmText, skip: false } }];"
      }
    },
    {
      "id": "is-sign-callback",
      "name": "Is Sign Callback?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1120, 200],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {"caseSensitive": true},
                "conditions": [
                  {
                    "leftValue": "={{ $json.skip }}",
                    "rightValue": false,
                    "operator": {"type": "boolean", "operation": "equals"}
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "sign_callback"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "patch-podpis",
      "name": "PATCH Podpis Stav",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 100],
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.mementodatabase.com/v1/libraries/2fNM2Za4G/entries/{{ $json.podpisId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "queryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "token", "value": "YobxmgbnZ1DTwxyJUIzCLgoAf2Qk0w"}
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"fields\": [\n    { \"name\": \"Stav\", \"value\": \"{{ $json.confirmed ? 'Potvrdil' : 'Odmietol' }}\" },\n    { \"name\": \"D\\u00e1tum potvrdenia\", \"value\": \"{{ $now.format('yyyy-MM-dd') }}\" }\n  ]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "answer-callback",
      "name": "Answer Callback Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_BOT_TOKEN}}/answerCallbackQuery",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ callback_query_id: $('Parse Callback').first().json.callbackQueryId, text: $('Parse Callback').first().json.confirmText, show_alert: false }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "edit-message-text",
      "name": "Edit Message Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 500],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{TELEGRAM_BOT_TOKEN}}/editMessageText",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $('Parse Callback').first().json.chatId, message_id: $('Parse Callback').first().json.messageId, text: $('Parse Callback').first().json.originalText + '\\n\\n' + $('Parse Callback').first().json.confirmText + ' — ' + $('Parse Callback').first().json.fromName, parse_mode: 'HTML' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      }
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [[{"node": "Flatten Update", "type": "main", "index": 0}]]
    },
    "Flatten Update": {
      "main": [[{"node": "Is Callback Query?", "type": "main", "index": 0}]]
    },
    "Is Callback Query?": {
      "main": [
        [{"node": "Parse Callback", "type": "main", "index": 0}],
        []
      ]
    },
    "Parse Callback": {
      "main": [[{"node": "Is Sign Callback?", "type": "main", "index": 0}]]
    },
    "Is Sign Callback?": {
      "main": [
        [
          {"node": "PATCH Podpis Stav", "type": "main", "index": 0},
          {"node": "Answer Callback Query", "type": "main", "index": 0},
          {"node": "Edit Message Text", "type": "main", "index": 0}
        ],
        []
      ]
    }
  },
  "settings": {"executionOrder": "v1"}
}
