docs/n8n-notification-processor-flow.json
{"updatedAt":"2026-03-24T21:02:54.146Z","createdAt":"2026-03-24T11:37:08.729Z","id":"KcCqrm5P9AYyivUV","name":"Notifications Hub - Processor","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"id":"cron-trigger","name":"Every 2 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300]},{"parameters":{"jsCode":"// Fetch pending notifications from Memento API\nconst MEMENTO_TOKEN = '{{MEMENTO_API_TOKEN}}';\nconst NOTIF_LIB = 'mRERW8SrY';\nconst FIELD_IDS = '31,65,2,3,38,1,26,48,10'; // Status,Typ,ChatID,MsgID,Sprava,ZdrojKniz,ZdrojID,Retry,ThreadID\n\nconst url = `https://api.mementodatabase.com/v1/libraries/${NOTIF_LIB}/entries?token=${MEMENTO_TOKEN}&fields=${FIELD_IDS}&pageSize=100`;\n\nlet resp;\ntry {\n    resp = await this.helpers.httpRequest({ method: 'GET', url, returnFullResponse: true, ignoreHttpStatusErrors: true });\n} catch (e) {\n    return [];\n}\n\nif (resp.statusCode === 429) {\n    // Rate limited — skip this cycle\n    return [];\n}\n\nconst data = typeof resp.body === 'string' ? JSON.parse(resp.body) : resp.body;\nconst entries = (data.entries || []).filter(e => e.status !== 'deleted');\n\n// Field ID mapping\nconst FMAP = {31:'status', 65:'typ', 2:'chatId', 3:'messageId', 38:'message', 1:'sourceLib', 26:'sourceId', 48:'retryCount', 10:'threadId'};\n\nconst pending = [];\nfor (const e of entries) {\n    const fields = {};\n    for (const f of (e.fields || [])) {\n        const name = FMAP[f.id];\n        if (name) fields[name] = f.value || '';\n    }\n    if (fields.status !== 'Čaká') continue;\n    if (!fields.chatId) continue;                              // chatId vždy povinné\n    if (fields.typ !== 'SEND' && !fields.messageId) continue; // EDIT/DELETE potrebujú messageId; SEND ešte nemá\n    \n    pending.push({\n        json: {\n            entryId: e.id,\n            typ: fields.typ || '',\n            chatId: fields.chatId,\n            messageId: fields.messageId,\n            message: fields.message || '',\n            sourceLib: fields.sourceLib || '',\n            sourceId: fields.sourceId || '',\n            threadId: fields.threadId || ''\n        }\n    });\n}\n\nreturn pending.length > 0 ? pending : [];"},"id":"fetch-pending","name":"Fetch Pending Notifications","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,300]},{"parameters":{"jsCode":"// For each notification, create queue entries:\n// 1. TG API call (DELETE/SEND/EDIT)\n// 2. PATCH Notification status to Odoslané\n\nconst BOT_TOKEN = '{{TELEGRAM_BOT_TOKEN}}';\nconst MEMENTO_TOKEN = '{{MEMENTO_API_TOKEN}}';\nconst NOTIF_LIB = 'mRERW8SrY';\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n    const d = item.json;\n    \n    let tgUrl = '';\n    let tgBody = {};\n    let tgOperation = '';\n    \n    if (d.typ === 'DELETE') {\n        tgUrl = `https://api.telegram.org/bot${BOT_TOKEN}/deleteMessage`;\n        tgBody = { chat_id: d.chatId, message_id: parseInt(d.messageId) };\n        tgOperation = 'DELETE_MSG';\n    } else if (d.typ === 'SEND') {\n        tgUrl = `https://api.telegram.org/bot${BOT_TOKEN}/sendMessage`;\n        tgBody = { chat_id: d.chatId, text: d.message || 'Test', parse_mode: 'HTML' };\n        if (d.threadId) tgBody.message_thread_id = parseInt(d.threadId);\n        tgOperation = 'SEND_MSG';\n    } else if (d.typ === 'EDIT') {\n        tgUrl = `https://api.telegram.org/bot${BOT_TOKEN}/editMessageText`;\n        tgBody = { chat_id: d.chatId, message_id: parseInt(d.messageId), text: d.message || '', parse_mode: 'HTML' };\n        tgOperation = 'EDIT_MSG';\n    } else {\n        continue; // unknown type\n    }\n    \n    results.push({\n        json: {\n            // TG call\n            tgUrl,\n            tgBody: JSON.stringify(tgBody),\n            tgOperation,\n            // For PATCH after TG\n            entryId: d.entryId,\n            // Source\n            sourceLib: d.sourceLib,\n            sourceId: d.sourceId\n        }\n    });\n}\n\nreturn results.length > 0 ? results : [];"},"id":"build-queue-items","name":"Build Queue Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"operation":"executeQuery","query":"-- Insert TG call + status PATCH as two queue items (TG first, then PATCH)\nINSERT INTO api_queue (queue_type, operation, priority, url, method, body, source_workflow, source_entry_id)\nVALUES \n    ('telegram_api', '{{ $json.tgOperation }}', 2,\n     '{{ $json.tgUrl }}', 'POST', \n     '{{ $json.tgBody }}'::jsonb,\n     'Notifications Hub', '{{ $json.entryId }}'),\n    ('memento_api', 'PATCH_NOTIF_STATUS', 4,\n     'https://api.mementodatabase.com/v1/libraries/mRERW8SrY/entries/{{ $json.entryId }}?token={{MEMENTO_API_TOKEN}}', \n     'PATCH',\n     '{\"fields\": [{\"id\": 31, \"value\": \"Odoslané\"}]}'::jsonb,\n     'Notifications Hub', '{{ $json.entryId }}')\nRETURNING id;","options":{}},"id":"insert-queue","name":"Insert into Queue","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[920,300],"credentials":{"postgres":{"id":"yilsy8XEISSO3u11","name":"PostgreSQL memento_mirror"}}}],"connections":{"Every 2 Minutes":{"main":[[{"node":"Fetch Pending Notifications","type":"main","index":0}]]},"Fetch Pending Notifications":{"main":[[{"node":"Build Queue Items","type":"main","index":0}]]},"Build Queue Items":{"main":[[{"node":"Insert into Queue","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Every 2 Minutes":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"56c73b10-fb40-477f-ac26-738744ba4489","activeVersionId":"56c73b10-fb40-477f-ac26-738744ba4489","versionCounter":41,"triggerCount":1,"shared":[{"updatedAt":"2026-03-24T11:37:08.729Z","createdAt":"2026-03-24T11:37:08.729Z","role":"workflow:owner","workflowId":"KcCqrm5P9AYyivUV","projectId":"iLQxzJpWAms0MWWZ","project":{"updatedAt":"2026-03-04T17:27:34.580Z","createdAt":"2026-01-11T14:50:50.482Z","id":"iLQxzJpWAms0MWWZ","name":"Rastislav Škubal <rasto.skubal@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"0ce0fe23-81fe-4429-80e2-c76c397c8615"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-24T21:02:54.149Z","createdAt":"2026-03-24T21:02:54.149Z","versionId":"56c73b10-fb40-477f-ac26-738744ba4489","workflowId":"KcCqrm5P9AYyivUV","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"id":"cron-trigger","name":"Every 2 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300]},{"parameters":{"jsCode":"// Fetch pending notifications from Memento API\nconst MEMENTO_TOKEN = '{{MEMENTO_API_TOKEN}}';\nconst NOTIF_LIB = 'mRERW8SrY';\nconst FIELD_IDS = '31,65,2,3,38,1,26,48,10'; // Status,Typ,ChatID,MsgID,Sprava,ZdrojKniz,ZdrojID,Retry,ThreadID\n\nconst url = `https://api.mementodatabase.com/v1/libraries/${NOTIF_LIB}/entries?token=${MEMENTO_TOKEN}&fields=${FIELD_IDS}&pageSize=100`;\n\nlet resp;\ntry {\n    resp = await this.helpers.httpRequest({ method: 'GET', url, returnFullResponse: true, ignoreHttpStatusErrors: true });\n} catch (e) {\n    return [];\n}\n\nif (resp.statusCode === 429) {\n    // Rate limited — skip this cycle\n    return [];\n}\n\nconst data = typeof resp.body === 'string' ? JSON.parse(resp.body) : resp.body;\nconst entries = (data.entries || []).filter(e => e.status !== 'deleted');\n\n// Field ID mapping\nconst FMAP = {31:'status', 65:'typ', 2:'chatId', 3:'messageId', 38:'message', 1:'sourceLib', 26:'sourceId', 48:'retryCount', 10:'threadId'};\n\nconst pending = [];\nfor (const e of entries) {\n    const fields = {};\n    for (const f of (e.fields || [])) {\n        const name = FMAP[f.id];\n        if (name) fields[name] = f.value || '';\n    }\n    if (fields.status !== 'Čaká') continue;\n    if (!fields.chatId) continue;                              // chatId vždy povinné\n    if (fields.typ !== 'SEND' && !fields.messageId) continue; // EDIT/DELETE potrebujú messageId; SEND ešte nemá\n    \n    pending.push({\n        json: {\n            entryId: e.id,\n            typ: fields.typ || '',\n            chatId: fields.chatId,\n            messageId: fields.messageId,\n            message: fields.message || '',\n            sourceLib: fields.sourceLib || '',\n            sourceId: fields.sourceId || '',\n            threadId: fields.threadId || ''\n        }\n    });\n}\n\nreturn pending.length > 0 ? pending : [];"},"id":"fetch-pending","name":"Fetch Pending Notifications","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,300]},{"parameters":{"jsCode":"// For each notification, create queue entries:\n// 1. TG API call (DELETE/SEND/EDIT)\n// 2. PATCH Notification status to Odoslané\n\nconst BOT_TOKEN = '{{TELEGRAM_BOT_TOKEN}}';\nconst MEMENTO_TOKEN = '{{MEMENTO_API_TOKEN}}';\nconst NOTIF_LIB = 'mRERW8SrY';\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n    const d = item.json;\n    \n    let tgUrl = '';\n    let tgBody = {};\n    let tgOperation = '';\n    \n    if (d.typ === 'DELETE') {\n        tgUrl = `https://api.telegram.org/bot${BOT_TOKEN}/deleteMessage`;\n        tgBody = { chat_id: d.chatId, message_id: parseInt(d.messageId) };\n        tgOperation = 'DELETE_MSG';\n    } else if (d.typ === 'SEND') {\n        tgUrl = `https://api.telegram.org/bot${BOT_TOKEN}/sendMessage`;\n        tgBody = { chat_id: d.chatId, text: d.message || 'Test', parse_mode: 'HTML' };\n        if (d.threadId) tgBody.message_thread_id = parseInt(d.threadId);\n        tgOperation = 'SEND_MSG';\n    } else if (d.typ === 'EDIT') {\n        tgUrl = `https://api.telegram.org/bot${BOT_TOKEN}/editMessageText`;\n        tgBody = { chat_id: d.chatId, message_id: parseInt(d.messageId), text: d.message || '', parse_mode: 'HTML' };\n        tgOperation = 'EDIT_MSG';\n    } else {\n        continue; // unknown type\n    }\n    \n    results.push({\n        json: {\n            // TG call\n            tgUrl,\n            tgBody: JSON.stringify(tgBody),\n            tgOperation,\n            // For PATCH after TG\n            entryId: d.entryId,\n            // Source\n            sourceLib: d.sourceLib,\n            sourceId: d.sourceId\n        }\n    });\n}\n\nreturn results.length > 0 ? results : [];"},"id":"build-queue-items","name":"Build Queue Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300]},{"parameters":{"operation":"executeQuery","query":"-- Insert TG call + status PATCH as two queue items (TG first, then PATCH)\nINSERT INTO api_queue (queue_type, operation, priority, url, method, body, source_workflow, source_entry_id)\nVALUES \n    ('telegram_api', '{{ $json.tgOperation }}', 2,\n     '{{ $json.tgUrl }}', 'POST', \n     '{{ $json.tgBody }}'::jsonb,\n     'Notifications Hub', '{{ $json.entryId }}'),\n    ('memento_api', 'PATCH_NOTIF_STATUS', 4,\n     'https://api.mementodatabase.com/v1/libraries/mRERW8SrY/entries/{{ $json.entryId }}?token={{MEMENTO_API_TOKEN}}', \n     'PATCH',\n     '{\"fields\": [{\"id\": 31, \"value\": \"Odoslané\"}]}'::jsonb,\n     'Notifications Hub', '{{ $json.entryId }}')\nRETURNING id;","options":{}},"id":"insert-queue","name":"Insert into Queue","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[920,300],"credentials":{"postgres":{"id":"yilsy8XEISSO3u11","name":"PostgreSQL memento_mirror"}}}],"connections":{"Every 2 Minutes":{"main":[[{"node":"Fetch Pending Notifications","type":"main","index":0}]]},"Fetch Pending Notifications":{"main":[[{"node":"Build Queue Items","type":"main","index":0}]]},"Build Queue Items":{"main":[[{"node":"Insert into Queue","type":"main","index":0}]]}},"authors":"Rastislav Škubal","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-24T21:02:54.225Z","id":711,"workflowId":"KcCqrm5P9AYyivUV","versionId":"56c73b10-fb40-477f-ac26-738744ba4489","event":"deactivated","userId":"0ce0fe23-81fe-4429-80e2-c76c397c8615"},{"createdAt":"2026-03-24T21:02:54.274Z","id":712,"workflowId":"KcCqrm5P9AYyivUV","versionId":"56c73b10-fb40-477f-ac26-738744ba4489","event":"activated","userId":"0ce0fe23-81fe-4429-80e2-c76c397c8615"}]}}